## **Code Implementations**

Question 1: from the array, [10,1,-1,5,7,1,15,8,11], find two numbers that add up to 10 without repeating.

In [ ]:
#Method 1: By sorting the numbers first, we limit our number of possibilities.
#Cost implication: O(t) = n^2 and O(s)=1

L = [10,1,-1,5,7,1,15,8,11]
L.sort()

j = len(L) -1
for i in L:
  while j>=0:
    if i + L[j] > 10:
      print("")
    elif i + L[j] < 10:
      print("")
    elif i + L[j] == 10:
      print(i,"and",L[j])
    else:
      print("None")
    j-=1

-1 and 11

In [ ]:
# Method 2: By using two for loops, we are sure all possibilies have been tested.
#Cost implication: O(t) = n^2 and O(s)=1
K = [10,1,-1,5,7,1,15,8,11]
for i in K:
  for j in K:
    j+=1
    if i + j > 10:
      continue
    elif i + j < 10:
      continue
    elif i + j == 10:
      print(i,"and",j)
    else:
      print("None")

10 and 0
1 and 9
-1 and 11
1 and 9
8 and 2
8 and 2

Question 3: Return **True** or **False** if the subsequence, B, exists in the array, A.
A = [1,2,3,8,9,18,10,-1,0]
B = [2,8,9,10]

In [ ]:
#Cost implication: O(t) = n^2 and O(s)=1

A = [1,2,3,8,9,18,10,-1,0]
B = [2,8,9,10]
C = []
for i in B:
  for j in A:
    if i == j:
      C.append(j)
    else:
      continue
C == B

True